{%- if button_label_1 != blank or button_label_2 != blank -%}
  <div class="{{ container_class }}"{% if shopify_attributes %} {{ shopify_attributes }}{% endif %}>
    {%- if button_label_1 != blank -%}
      <a
        {% if button_link_1 == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ button_link_1 }}"
        {% endif %}
        class="button{% if button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
      >
        {{- button_label_1 | escape -}}
      </a>
    {%- endif -%}
    {%- if button_label_2 != blank -%}
      <a
        {% if button_link_2 == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ button_link_2 }}"
        {% endif %}
        class="button{% if button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
      >
        {{- button_label_2 | escape -}}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
